body {
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar {
	background:#FFFFFF;
	height: 10%;
}
.navbar-brand {
  cursor: pointer;
}
.nav-link {
  color: #000000
}


.header {
  background-image: url( '/static/images/Space.jpg' );
  background-size: cover;
  background-position: center;
  margin-top: 50px;
  padding:20% 0;
}

.about_me {
	font-size: 15px;
	padding-bottom: 60px;
	padding-top: 70px;
}

.about_me h2{
	font-size: 2em;
}

.about_me p{
	text-align: justify;
	padding-left: 20%;
	padding-right: 20%;
}

.about_me img{
	display: block;
    margin: auto;
    border-radius: 100%;
    border: 3px;
    padding: 0%
}

.Background {
	padding-top: 70px;
	padding-bottom: 70px;
	font-size: 15px;
}

.Background h3{
	font-size: 1.5em;
}

.Contact{
	padding-left: 100px;
	padding-top: 200px;
	padding-bottom: 200px;
}

.my_story{
	padding-top: 60px;
	padding-left: 20px;
	margin-right: : 40px;
	text-align: justify;
}

.box{
	width: 100%;
	border:1px solid black;
	margin: 10px;
}