<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/Story3.css' %}">

<title>Mario Ekaputta</title>
  </head>
  <body>
<nav class="navbar navbar-expand-md fixed-top">
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:index' %}"><div class="box">Back to Home</div></a>
      </li>	
    </ul>
  </div>
</nav>


<div class="jadwalku"style="margin-top:100px">

 <form method='POST' > 
 {% csrf_token %}
                {{ form.as_p }}
                <input type='submit' value='Save' />
            </form>



</div>

    <div id="section2" style="height: auto">
        <h1>Schedule :</h1>
        <ol>
            {% for i in data %}
            <li>Date : {{i.date_field}} <br>
                Activity : {{i.activity_field}} <br>
                Place : {{i.venue_field}} <br>
                Category : {{i.category_field}} <br>
                <a href="{% url 'homepage:delete' id=i.id %}"><button type="submit" style="margin-bottom: 15px">Delete</button></a>
                <br>
            </li>
            {% endfor %}
        </ol>
    </div>

