<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/Story3.css' %}">

<title>Mario Ekaputta</title>
  </head>
  <body>
<nav class="navbar navbar-expand-md fixed-top">
  <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="main-navigation">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'homepage:index' %}"><div class="box">Back to Home</div></a>
      </li>	
    </ul>
  </div>
</nav>


<div class="my_story">
  <h1>UI Students</h1>
  <p>July 3rd, 2018, I become a student of Universitas Indonesia. That was such an amazing achievement for me knowing what I’ve been dreaming for the last 12 months. When everyone knows about my ambition to be a student of one of the best college in Indonesia, most of them laugh. Well, I’m not a very good student. My teacher knows me as the laziest student in the class. But, I have a vision. Once I have a vision and with all complement and insult as my motivation. I did it. </p>
</div>
